<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="java-automation-framework" thread-count="1" data-provider-thread-count="1" parallel="tests" preserve-order="false">
    <test name="Test">
        <classes>
            <class name="StepDefinitions.RunCucumberTest"/>
        </classes>
    </test>
</suite>